@import './shared.scss';
.channel-container {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.channel-participant-container {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.message-container {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  .header-container {
    margin: 0 0 10px 0;
  }
}